/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
}

.input-container {
    margin-bottom: 20px;
    margin: 2em auto;

}

.result-container {
    margin: 1em auto;

}

.label {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.input {
    width: calc(100% - 40px);
    padding: 12px 20px;
    font-size: 18px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.input:focus {
    border-color: #007bff;
}

.result-label {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.result {
    font-size: 20px;
    color: #4CAF50;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #f2f9f2;
}

button {
    padding: 12px;
    margin-left: 0.5em;
    font-size: 18px;
    color: #fff;
    background-color: #6d07d3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}